.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.card {
  width: 50rem;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.select-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.select {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.divider {
  height: 1px;
  width: 2rem;
  background-color: #9b9b9b;
  transform: rotate(90deg);
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.text {
  font-size: 1.5rem;
  font-weight: 500;
  color: #9b9b9b;
  display: flex;
  margin-top: 1rem;
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer {
  color: #9b9b9b;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
}